In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("Social_Network_Ads_24.csv")

In [10]:
df = df.iloc[:, 2:]

In [11]:
df.sample(5)

     Age  EstimatedSalary  Purchased
326   41            72000          0
340   53           104000          1
325   41            60000          0
140   19            85000          0
30    31            74000          0

TRAIN TEST SPLIT

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_tesy=train_test_split(df.drop("Purchased",axis=1),
                                                df['Purchased'],
                                                test_size=0.3,
                                                random_state=0)
X_train.shape,X_test.shape

((280, 2), (120, 2))

## Standard Scalar